<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono" rel="stylesheet">

  {% seo %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href="https://arpnetworks.com/css/jquery.formstyler.css" rel="stylesheet">
  <link href="https://arpnetworks.com/css/main.css" rel="stylesheet">
  <link href="https://arpnetworks.com/css/custom.css" rel="stylesheet">
  <script src="https://arpnetworks.com/js/vendor/modernizr-2.6.2.min.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
  <![endif]-->

  {% if page.url contains 'ceph' %}
    <script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 7384263,playbookUuid: '9e9e91cf-f9a1-4202-bf0e-497b26b9b925',version: 2};</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>
  {% else %}
  {% endif %}

</head>
